@model Domain.Models.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="mt-3">
        <h3>Excluir</h3>
        <p>Tem certeza que deseja excluir o item abaixo?</p>
    </div>
    
    
    <div class="mt-5">
        <h3>Cliente</h3>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="Nome" class="form-label">Nome</label>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>
            <div class="col-md-3">
                <label for="Cpf" class="form-label">CPF</label>
                @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>
            <div class="col-md-3">
                <label for="RG" class="form-label">RG</label>
                @Html.EditorFor(model => model.Rg, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="OrgaoExpedicao" class="form-label">Orgão Expedição</label>
                @Html.EditorFor(model => model.OrgaoExpedicao, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>
            <div class="col-md-3">
                <label for="UfExpedicao" class="form-label">Uf Expedição</label>
                @Html.EditorFor(model => model.UfExpedicao, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row mt-4">
                <div class="col-md-12 text-end">
                    <input type="submit" id="excluir" class="btn btn-dark btn-lg" value="Excluir" />
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-outline-dark btn-lg" })
                </div>
            </div>
        }
    </div>
</div>