@model IEnumerable<Domain.Models.Cliente>

@{
    ViewBag.Title = "Clientes Cadastrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="mt-3">
        <h3>Clientes Cadastrados</h3>
    </div>
    
    <div class="mt-3">
        <a>
            @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-dark btn-lg" })
        </a>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped mt-5">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstadoCivil)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sexo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstadoCivil)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdCliente }, new {@class = "btn btn-outline-dark" }) 
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdCliente }, new { @class = "btn btn-outline-dark" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    

</div>
